* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: red;
    border: 2px solid yellow; */
}

body {
    background: linear-gradient(#555AC6,#5e63c6);

}

h1 {
    color: #FFF;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.largeur {
    width: 90%;
   margin: 0 auto;
   margin-bottom: 20px;
}

.gris {
    /* background-color: grey; */
    width: 100%;
    border-radius: 8px;
    height: 300px;
    margin-bottom: 20px;
}

.graph1 {
    width: 48%;
    background-color: grey;
    height: 175px;
    border-radius: 8px;
}

.graph2 {
    width: 48%;
    background-color: grey;
    height: 175px;
    border-radius: 8px;
}

.graph12 {
    width: 100%;
}

.biblio {
    background-color: grey;
    width: 90%;
    height: 250px;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.top {
    background-color: grey;
    width: 90%;
    height: 150px;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.carte {
    width: 23%;
    background-color: grey;
    height: 90px;
    border-radius: 8px;
}
.carte1 {
    width: 23%;
    background-color: grey;
    height: 90px;
    border-radius: 8px;
}
.carte2 {
    width: 23%;
    background-color: grey;
    height: 90px;
    border-radius: 8px;
}
.carte3 {
    width: 23%;
    background-color: grey;
    height: 90px;
    border-radius: 8px;
}

.allgrid {
    width: 90%;
    margin: 0 auto;
}

.conçu {
    color: #FFF;
    font-size: 13px;
    margin-bottom: 10px;
}

.titre {
    width: 100%;
    margin-bottom: 20px;
}


.topart {
    color: #FFF;
    font-size: 13px;
    margin-bottom: 10px;
}

.carte4 {
    width: 23%;
    background-color: grey;
    height: 90px;
    border-radius: 8px;
}
.carte5 {
    width: 23%;
    background-color: grey;
    height: 90px;
    border-radius: 8px;
}
.carte6 {
    width: 23%;
    background-color: grey;
    height: 90px;
    border-radius: 8px;
}
.carte7 {
    width: 23%;
    background-color: grey;
    height: 90px;
    border-radius: 8px;
}

.vosmix {
    color: #FFF;
    font-size: 13px;
    margin-bottom: 10px;
}

.carte8 {
    width: 23%;
    background-color: grey;
    height: 90px;
    border-radius: 8px;
}
.carte9 {
    width: 23%;
    background-color: grey;
    height: 90px;
    border-radius: 8px;
}
.carte10 {
    width: 23%;
    background-color: grey;
    height: 90px;
    border-radius: 8px;
}
.carte11 {
    width: 23%;
    background-color: grey;
    height: 90px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.playlist {
    background-color: grey;
    width: 100%;
    border-radius: 8px;
    height: 320px;
    margin-bottom: 20px;

}

.playlist span {
    vertical-align: middle;
    text-align: center;

}

#carousel1 {
     width: 100%;
     margin: 0 auto;
     height: 220px;
     border-radius: 8px;
}

.img1 {
    width: 400px;
    justify-content: center;
    height: 300px;
    border-radius: 8px;
}
.img2 {
    width: 400px;
    justify-content: center;
    height: 300px;
    border-radius: 8px;
}
.img3 {
    width: 400px;
    justify-content: center;
    height: 300px;
    border-radius: 8px;
}

.carousel-control-prev {
    position: absolute;
    height: 300px;
}

.carousel-control-next {
    position: absolute;
    height: 300px;
}

.container {
    display: flex;
}

.bibli-box {
    width: 23%;
    background-color: red;
    height: 90px;
    border-radius: 8px;
    margin-top: 20px;
    padding-top: 0px;
}

.bibli-box1 {
    width: 23%;
    background-color: red;
    height: 90px;
    border-radius: 8px;
    margin-top: 80px;
    padding-top: 0 auto;
}



